body>menu>ul>li{
    float: left;
    padding: 30px;
    margin: 20px;
    list-style: none;
}
a:link{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
}
a:active{
    color: yellow;
    font-style: italic;
    background-color: aqua;
    padding: 10px;
}
a:visited{
    color: white;
    background-color: black;
}
a:hover{
    border-radius: 30px;
    box-shadow: 2px 2px blue;
    color: chartreuse;
    cursor: move;
}